/* frontend/src/index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #f4f6fb; /* Color base claro */
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #f4f6fb;
  display: flex;
  flex-direction: column;
}